services:
  web:
    image: nginx:latest
    ports:
      - 8000:8080
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/nginx.conf
      - ./app:/app
  php:
    build:
      context: .
      dockerfile: PHP.Dockerfile
    volumes:
      - ./app:/app
  adminer:
    image: adminer
    restart: always
    ports:
      - 8001:8080
  mariadb:
    image: mariadb:latest
    environment:
      MYSQL_ROOT_PASSWORD: Password!
volumes:
  mysqldata: {}
